@use "../abstracts" as *;

.btn {
  color: $color-white;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1.5rem 3.5rem;
}

.btn__book {
  border: 1px solid $color-white;
  background-color: transparent;
}
