// colors
$primaryColor-beaver: #9e7f66;
$primaryColor-codGray: #111111;
$secondaryColor-mirage: #17192b;
$secondaryColor-ebonyClay: #242b37;
$color-white: #ffffff;

// fonts
$primaryFont: "League Spartan", sans-serif;
$frontWeight-light: 100;
$frontWeight-regular: 200;
$frontWeight-semiBold: 600;
$frontWeight-bold: 700;
