$primaryColor-beaver: #9e7f66;
$primaryColor-codGray: #111111;
$secondaryColor-mirage: #17192b;
$secondaryColor-ebonyClay: #242b37;

$primaryFont: "League Spartan", sans-serif;

$frontWeight-light: 300;
$frontWeight-regular: 400;
$frontWeight-semiBold: 600;
$frontWeight-bold: 700;
